.Setup {
  display: flex;
  font-family: sans-serif;
}

.ShipPool {
  height: 100vh;
  width: 20%;

  border-right: 5px solid var(--primary);
  color: var(--primary);

  text-align: center;
}

.ship-container {
  height: 60%;
  overflow: auto;
}

.confirm-button {
  font-size: 1.2em;
  margin: 10px;
  padding: 10px;
  background-color: var(--light);
  border-radius: 2rem;
  border: 1px solid var(--primary);
  font-family: "Montserrat";
  color: #000000;

  transition: opacity 100ms;
}

.confirm-button:disabled {
  opacity: 0.4;
}

.confirm-button:hover:disabled {
  cursor: not-allowed;
}

.confirm-button:hover:enabled {
  background-color: var(--light2);
  cursor: pointer;
}

.board-area {
  height: 100vh;
  width: 80%;

  color: gray;
}

.DnDCell {
  display: grid;
  place-content: center;
  width: 3rem;
  height: 3rem;
  text-align: center;
  border: 1px solid rgba(255, 255, 255, 0.2);
  /*box-sizing because then borders wont make the cell bigger*/
  box-sizing: border-box;

  background-color: var(--primary);
}

.DnDCell.outer {
  pointer-events: none;
  border: 1px solid transparent;

  background-color: transparent;
}

.DnDShip {
  width: max-content;
  height: max-content;
  min-width: 3rem;
  min-height: 3rem;
}

.DnDShip .ShipPart {
  width: 3rem;
  height: 3rem;
}

.DnDShip .ShipPart img {
  pointer-events: none;
  width: 100%;
  height: 100%;
}

.DnDShip .ShipPart img.horizontal {
  transform: rotate(-90deg);
}
