/* Outer shell to align the content to the middle */
.ChangeScreen {
  display: grid;
  place-content: center;

  position: fixed;

  width: 100%;
  height: 100%;
}

/* Content of the change screen */
#turn {
  text-align: center;
}
