#game {
    display: flex;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    height: 400px;
    background-color: grey;
    margin: 50px;
}

.grid div {
    width: 40px;
    height: 40px;
    background-color: blue;
    border: 1px solid grey;
} 