:root {
    --grid-margins: 50px;
    /*Default value of 440px, this will change in code...*/
    --grid-size: 440px
}

#game {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    width: 80%;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    width: var(--grid-size);
    height: var(--grid-size);
    background-color: grey;
    margin: var(--grid-margins);
    color: white;
}

.grid div {
    width: 40px;
    height: 40px;
    background-color: blue;
    border: 1px solid grey;
    text-align: center;
}

#drag-n-drop-area{
    display: flex;
    width: 80%;
    margin: auto;
    height: fit-content;
    border: 1px solid black;
}

#p1-ships,
#p2-ships {
    display: flex;
    justify-content: space-between;
    width: var(--grid-size);
    height: var(--grid-size);
    margin: var(--grid-margins);
    background-color: blue;
    border: 1px solid grey;
    text-align: center;
}

.ship {
    background-color: grey;
    height: min-content;
    width: min-content;  
}

.ship > div {
    border: 1px solid black;
    width: 40px;
    height: 40px;
}

.carrier{}

.battleship{}

.cruiser{}

.submarine{}

.destroyer{}

.hide {
    display: none;
}

.show {
    display: block;
}

.drag-over {
    background-color: grey !important;
}