@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Open+Sans&display=swap");

:root {
  --primary: #00bac8;
  --light: #e0f7f8;
  --light2: #b2eaec;
  --bg: #ebf4f5;
  --dark: #095e5d;
}

#settings-container {
  margin-top: 6rem;
  width: 100%;
}

.settingsDiv {
  margin: auto;
  width: 100%;
  max-width: 55em;
  padding: 10px;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25em, 1fr));
  gap: 1em;
}

.settingsLabel {
  margin-left: 10px;
  font-size: 1.25rem;
}

.settingsInput {
  height: 1.5rem;
  width: 3rem;
  font-size: 1.25rem;
  margin-right: 10px;
  border-radius: 2rem;
  border: solid 1px var(--dark);
  padding: 5px;
  padding-left: 8px;
  padding-right: 8px;
}

.settingsInput.long {
  min-width: 6rem;
  max-width: 12rem;
  width: 100%;
}

#ship-container {
  margin: auto;
  max-width: 40em;
  padding: 10px;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 1rem;
}

@media screen and (max-width: 45em) {
  #ship-container {
    display: flex;
    flex-direction: column;
  }
}

#destroyerDiv {
  grid-column: 1 / span 2;
}

#submitButtonDiv {
  text-align: center;
}

#submit-button {
  width: 7.5rem;
  height: 2.5rem;
  font-size: 24px;
  background-color: var(--light);
  border: 1px solid var(--primary);
  font-family: "Montserrat";
  color: #000000;
  border-radius: 2rem;
}

#submit-button:hover {
  background-color: var(--light2);
  cursor: pointer;
}

#error {
  text-align: center;
  font-size: 24px;
  color: #c80d00;
}
