/*
* Location for the settings form
*/
#settings-container {
  margin-top: 6rem;
  width: 100%;
}

/*
* Location for the player name and grid size components
*/
.settingsDiv {
  margin: auto;
  width: 100%;
  max-width: 55em;
  padding: 10px;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25em, 1fr));
  gap: 1em;
}

/*
* Style for the labels in the Settings-component
*/
.settingsLabel {
  margin-left: 10px;
  font-size: 1.25rem;
}

/*
* Style for the input fields in the Settings-components
*/
.settingsInput {
  height: 1.5rem;
  width: 3rem;
  font-size: 1.25rem;
  margin-right: 10px;
  border-radius: 2rem;
  border: solid 1px var(--dark);
  padding: 5px;
  padding-left: 8px;
  padding-right: 8px;
}

/*
* Style for the input fields in the Settings-component that should be long
*/
.settingsInput.long {
  min-width: 6rem;
  max-width: 12rem;
  width: 100%;
}

/*
* Location of the component that contains ship amounts
*/
#ship-container {
  margin: auto;
  max-width: 40em;
  padding: 10px;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 1rem;
}

/*
* Location of the component that contains ship amounts on a smaller screen
*/
@media screen and (max-width: 45em) {
  #ship-container {
    display: flex;
    flex-direction: column;
  }
}

/*
* Location of the component for destroyer amounts
*/
#destroyerDiv {
  grid-column: 1 / span 2;
}

/*
* Location for the submit button
*/
#submitButtonDiv {
  text-align: center;
}

/*
* Style for the submit button
*/
#submit-button {
  width: 7.5rem;
  height: 2.5rem;
  font-size: 24px;
  background-color: var(--light);
  border: 1px solid var(--primary);
  font-family: "Montserrat";
  color: #000000;
  border-radius: 2rem;
}

/*
* Style for the submit button, when the mouse hovers over it
*/
#submit-button:hover {
  background-color: var(--light2);
  cursor: pointer;
}

/*
* Style for the error message
*/
#error {
  text-align: center;
  font-size: 24px;
  color: var(--error);
}
