@keyframes hit-in {
  from {
    transform: scale(1.5);
  }
  to {
    transform: scale(1);
  }
}

/* Container for both boards */
.BattleshipBoards {
  display: grid;
  grid-auto-flow: column;
  place-content: center;
  gap: 3em;

  height: 100vh;
}

.Board {
  display: grid;
  height: max-content;

  transition: opacity 500ms;
}

/* Current player's own board */
.Board.own {
  opacity: 0.75;
}

.BoardCell {
  display: grid;
  place-content: center;

  width: 3em;
  height: 3em;

  border: 1px solid rgba(255, 255, 255, 0.25);

  background-color: var(--primary);
}

.BoardCell.hit {
  cursor: not-allowed !important;
}

.BoardCell.hit::before {
  font-size: 2rem;
  content: "✕";
  display: flex;
  place-content: center;

  color: white;

  animation: hit-in 250ms both;
}

.BoardCell.hit:hover {
  filter: none !important;
}

/* Cells in enemy player's board */
.Board:not(.own) .BoardCell {
  cursor: pointer;
}

.Board:not(.own) .BoardCell:hover {
  filter: brightness(1.15);
}

/* Cells that aren't part of the play area */
.BoardCell.outer {
  pointer-events: none;
  border: 1px solid transparent;

  background-color: transparent;
}
