@keyframes message-anim {
  from {
    transform: scale(1.5);
  }
  to {
    transform: scale(1);
  }
}

/*
* Style for the message that tells the player if he has hit or sunk a ship
*/
#message {
  height: 0;
  margin: 0 auto;
  width: 25em;
  margin-top: 2em;
  text-align: center;
  font-family: "Montserrat";
}

#message > h2 {
  animation: message-anim 150ms both;
}

/* Container for both boards */
.BattleshipBoards {
  display: grid;
  grid-auto-flow: column;
  place-content: center;
  gap: 3em;

  height: 100vh;
}

.BoardContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.BoardContainer .PlayerName {
  color: gray;
}

.Board {
  display: grid;
  height: max-content;

  transition: opacity 500ms;

  image-rendering: pixelated;

  background-size: 320px;
  animation: ocean 120s linear infinite;
}

/* Current player's own board */
.Board.own {
  opacity: 0.7;
  cursor: not-allowed;
}

.BoardCell {
  display: grid;
  place-content: center;

  width: 3rem;
  height: 3rem;

  box-sizing: border-box;

  border: 1px solid rgba(255, 255, 255, 0.2);
  transition: background-color 400ms;
}

.BoardCell:not(.outer) {
  background-color: var(--cell-bg);
}

.Board:not(.own) .BoardCell:not(.clicked):hover {
  background-color: rgba(255, 255, 255, 0.2);

  transition: background-color 0ms;
}

.BoardCell.clicked {
  cursor: not-allowed !important;
}

.BoardCell.clicked::before {
  font-size: 2rem;
  content: "✕";
  display: flex;
  place-content: center;

  width: 100%;
  height: 100%;

  color: white;

  z-index: 2;
}

.BoardCell.hit::before {
  font-weight: bold;
  color: rgb(255, 0, 0);
}

.BoardCell.clicked:hover {
  filter: none !important;
}

.Board:not(.own) .BoardCell.hit .Ship {
  opacity: 0.6;
}

.BoardCell .Ship {
  position: absolute;
  width: 3rem;
  height: 3rem;

  animation: boat-waves 5s infinite ease-in-out;
}

.BoardCell .Ship img {
  width: 3rem;
  height: 3rem;
}

.BoardCell .Ship img.horizontal {
  transform: rotate(-90deg);
}

/* Cells in enemy player's board */
.Board:not(.own) .BoardCell {
  cursor: pointer;
}

/* Cells that aren't part of the play area */
.BoardCell.outer {
  pointer-events: none;
  border: 1px solid transparent;

  background-color: var(--bg);
}

.BoardCell.outer .OuterText {
  display: grid;
  place-content: center;

  position: absolute;

  width: 3rem;
  height: 3rem;

  color: gray;
}
